/* Component specific styles here */

.scrollAbleContent{
    height: 76vh;
    overflow: scroll;
}

.dpImage{
    width: 100px;
}

.date-picker-wrapper {
    /* display: inline-block; */
    position: relative;
    z-index: 10050 !important; /* Ensure it's on top */
  }
  
  .date-picker {
    width: 100%;
  }
  
  .react-datepicker-popper {
    z-index: 10050 !important; /* Ensure it's on top */
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }

  .MuiTableBody-root {
    position: static !important;
  }

  .react-datepicker {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: absolute !important;
    zoom: 0.7;
}

.filterButton{
    padding: 0px 4px;
    margin: 3px 1px;
    display: block;
    float: left;
    font-size: 12px;
}
.filterButtonSelectDate{
    padding: 0px 23px;

}

.react-datepicker-wrapper{
    display:block;
}