.login-reg-card {border: 0;border-radius: 10px;box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);overflow: hidden;}
.login-reg-card-img {border-radius: 0;position: absolute;width: 100%;height: 100%;}
.login-reg-card .card-body {padding: 85px 60px 60px;}
.login-reg-card .label{font-size: 14px; margin:0}
.login-reg-card .logo{ max-width: 240px;}
.login-reg-card .brand img{ max-width: 28px;}
.login-reg-card .brand{ font-size: 14px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.login-reg-card .brand:hover{ color: #919aa3; text-decoration: none; }
.login-reg-card-description {font-size: 18px;color: var(--dark);font-weight: normal;margin-bottom: 23px;}
.login-reg-card form {max-width: 326px;}
.login-reg-card .form-control {border: 1px solid #d5dae2;padding: 15px 25px;min-height: 45px;font-size: 13px;/* line-height: 15; */font-weight: normal;}
.login-reg-card .form-control::placeholder {color: #919aa3;}
.login-reg-card .login-reg-btn {padding: 13px 20px 12px;background-color: #000;border-radius: 4px;font-size: 17px;font-weight: bold;line-height: 20px;color: #fff;margin-bottom: 24px;}
.login-reg-card .login-reg-btn:hover {border: 1px solid #000;background-color: transparent;color: #000;}
.login-reg-card .forgot-password-link {color: var(--bg-gray-700);/* margin-bottom: 12px; */}
.login-reg-card-footer-text {font-size: 16px;color: #0d2366;margin-bottom: 60px;}
.login-reg-card-footer-nav a {font-size: 14px;color: #919aa3;}
.footer-link {position: absolute;bottom: 1rem;text-align: center;width: 100%;}
@media (max-width: 422px) {.login-reg-card .card-body {padding: 35px 24px;}}
@media (max-width: 767px) {.login-reg-card-footer-text {margin-bottom: 24px;}}

